.customNode {
    background: gray;
    border-radius: 6px;
    border: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.input-range-number {
    max-width: 2rem;
}

.node-header {
    background-color: aqua;
    border-radius: 6px 6px 0 0;
    padding: 6px;
    border-bottom: 1px solid rgb(1, 116, 116);
}

.node-body {
    border-radius: 0 0 6px 6px;
    padding: 6px;
}

.react-flow__handle {
    background-color: teal;
    width: 12px;
    height: 12px;
    border-radius: 6px;
}