@import '../variables.css';

.customNode {
    background-color: lightgray;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

input[type="number"],
select {
    border: none;
    background: white;
    width: 100%;
}

.input-range-number {
    /* width: 2rem; */
}

.node-header {
    border-radius: 6px 6px 0 0;
    padding: 6px 24px;
    border-bottom: 1px solid gray;
}

.node-body {
    border-radius: 0 0 6px 6px;
    padding: 6px 24px;
}

.node-type-data-loader>.node-header {
    background-color: var(--node-data-color);
}

.node-type-model>.node-header {
    background-color: var(--node-model-color);
}

.node-type-data-processor>.node-header {
    background-color: var(--node-processor-color);
}

.node-type-output>.node-header {
    background-color: var(--node-output-color);
}

.node-type-cv>.node-header {
    background-color: var(--node-cv-color);
}

.react-flow__handle {
    background-color: var(--node-handle-color);
    width: 16px;
    height: 16px;
    border: 2px solid var(--node-handle-stroke);
    border-radius: 12px;
}

.react-flow__edge-path {
    stroke: var(--node-connection-stroke);
    stroke-width: 2;
    fill: none;
}

.react-flow__handle-right {
    right: -8px;
}

.react-flow__handle-left {
    left: -8px;
}