.code-block-output {
    height: 90vh;
}

.code-block {
    max-height: 92vh;
    overflow: auto;
    margin: 0;
}

.code-block-btn {
    border: none;
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    transition: .2s;
}

.code-block-btn:hover {
    background-color: var(--node-processor-color);
}