@import './variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TopBar {
  background: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.TopBar>button {
  margin: 0 4px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8px;
  color: white;
  border-radius: 8px;
  transition: .2s;
}

.TopBar>button:hover {
  background-color: var(--node-processor-color);
  padding: 8px 20px;
}

.ReactFlowContainer {
  background-color: var(--canvas-color);
  height: 100vh;
  width: 100%;
}


/* the one on the left */
.SideBar {
  position: fixed;
  left: 10px;
  top: 50px;
  display: grid;
  z-index: 10;
  background: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px;
  width: 12rem;
  max-height: 85%;
  overflow-y: auto;
  border-radius: 8px;
}

.SideBar>button {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  margin: 4px;
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .12s;
  animation-timing-function: linear;
}

.SideBar>button:hover {
  border: 2px solid white;
}

.SideBar>.node-type-input {
  background-color: var(--node-data-color);
}

.SideBar>.node-type-processor {
  background-color: var(--node-processor-color);
}

.SideBar>.node-type-model {
  background-color: var(--node-model-color);
}

.SideBar>.node-type-output {
  background-color: var(--node-output-color);
}

/* CODE BLOCK */
.code-output-container {
  display: flex;
  z-index: 3;
  position: fixed;
  height: 100vh;
  transition: 0.4s;
}

/* DISPLAY CODE BTN */
.floating-button-container {
  padding: 20px 5px;
}

.floating-button-container>.floating-button {
  height: 100%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.floating-button-container>.floating-button:hover {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 12px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}