:root {
    --canvas-color: #292D3F;
    --node-data-color: #61fa82;
    --node-processor-color: #4a91fc;
    --node-model-color: rgb(231, 90, 113);
    --node-generic-color: #fff;
    --node-handle-color: orange;
    --node-handle-stroke: white;
    --node-connection-stroke: white;
    --node-output-color: pink;
    --node-cv-color: #fcd24a;
    --node-transform-color: #995bfd;

    --primary: #4a91fc;
}