:root {
    --canvas-color: #292D3F;
    --node-data-color: #61fa82;
    --node-processor-color: #4a91fc;
    --node-model-color: rgb(231, 90, 113);
    --node-generic-color: #fff;
    --node-handle-color: orange;
    --node-handle-stroke: white;
    --node-connection-stroke: white;
    --node-output-color: pink;
    --node-cv-color: #fcd24a;
    --node-transform-color: #995bfd;
    --node-variable-color: #00d2d3;
    --node-control-color: #ff9f43;
    --node-function-color: #ee5253;
    --node-primitive-color: #10ac84;
    --node-io-color: #5f27cd;

    --primary: #4a91fc;
}